extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='/javascript/main.js')
block stylesheets
	style
		include style.css
block content
	h1 Paycheck Calculator
	p People in the database:
	
	p Users:
	
	each user in pageInfo.users
		p Name: #{user.full_name} - Email Address: #{user.email_address} - Birthdate: #{user.birthdate} - Filing Status: #{user.filing_status_id}
	
	p Brackets:

	div#results
		p We should see this change to a response!
	
	
	div.table
		div.tableRow
			div.tableCell Jurisdiction
			div.tableCell Tax Year
			div.tableCell Min AGI
			div.tableCell Max AGI
			div.tableCell Tax Rate
			div.tableCell Filing Status
			div.tableCell Base Tax
		div.tableRow
			//form(name='createBracket', method='POST', action='/api/createNewBracket')
			div.tableCell 
				select#jurisdiction
					each jurisdiction in pageInfo.jurisdictions
						option(value='#{jurisdiction.id}') #{jurisdiction.name}
			div.tableCell 
				input#taxYear(type='number', name='taxYear', placeholder='taxYear')
			div.tableCell  
				input#minAGI(type='number', name='minAGI', placeholder='minAGI')
			div.tableCell  
				input#maxAGI(type='number', name='maxAGI', placeholder='maxAGI')
			div.tableCell  
				input#taxRate(type='number', name='taxRate', placeholder='taxRate')
			div.tableCell 
				select#filingStatus
					each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
				//input#createBracket(type='text', name='filingStatus', placeholder='filingStatus')
			div.tableCell
				input#baseTax(type='number', name='baseTax', placeholder='baseTax')
			div.tableCell 
				input#createBracket(type='submit',value='Create Bracket')
		each taxBracket in pageInfo.taxBrackets
			div.tableRow
				div.tableCell #{taxBracket.name} 
				div.tableCell #{taxBracket.taxyear}
				div.tableCell #{taxBracket.minagi}
				div.tableCell #{taxBracket.maxagi}
				div.tableCell #{taxBracket.taxrate}
				div.tableCell #{taxBracket.filing_status_id}
				div.tableCell #{taxBracket.base_tax}
