extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='javascript/main.js')

block stylesheets
	style
		include style.css

block content
	h1 Paycheck Calculator
	
	div#paycheckCalculator
		div Gross Annual Income: 
			input#income(type='number', name='income', placeholder='Income')
		div Pay Frequency:
			select#payFrequency
				each frequency in pageInfo.payFrequencies
					option(value='#{frequency.id}') #{frequency.schedulename}
		div Federal Filing Status: 
			select#fedFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div Federal Allowances:
			input#fedAllowancesInput(type='number', name='fedAllowances', placeholder='Fed Allowances')

		div State:
			select#stateSelect
				each state in pageInfo.states
					option(value='#{state.id}') #{state.name}

		div State Filing Status: 
			select#stateFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div State Allowances:
			input#stateAllowancesInput(type='number', name='stateAllowances', placeholder='State Allowances')

		div Retirement Contributions (401k, etc.)
			input#retirementInput(type='number', name='retirement', placeholder='Retirement')


		div#calc 				
			input#calculate(type='submit',value='Calculate Takehome Paycheck')


		div.paystub#samplePaystub

			table
				tr 
					th(colspan='5') General
			table
				tr 
					th(colspan='5') Tax Data
				tr 
					td(width='30%') Federal Filing Status
					td.filledValue#fedFilingStatus(width='15%') x
					td(width='10%')
					td(width='30%') State Filing Status
					td.filledValue#stateFilingStatus(width='15%') x
				tr
					td Federal Allowances
					td.filledValue#fedAllowances x
					td
					td State Allowances
					td.filledValue#stateAllowances x
				tr
					td Federal Additional Witholding
					td.filledValue#fedAdditionalWitholding x
					td
					td State Additional Witholding
					td.filledValue#stateAdditionalWitholding x
			table	
				tr
					th(colspan='6') Paycheck Summary
				tr
					th
					th Gross Earnings
					th Federal Taxable Gross
					th Total Taxes
					th Total Deductions
					th Total Net Pay
				tr
					th Current
					td.filledValue#grossEarnings x
					td.filledValue#fedGrossEarnings x
					td.filledValue#totalTax x
					td.filledValue#totalDeductions x
					td.filledValue#takehomePay x
				tr
					th YTD
					td x
					td x
					td x
					td x
					td x
			table
				tr
					th(colspan='6') Earnings and Taxes
				tr
					th(colspan='3') Earnings
					th(colspan='3') Taxes
				tr 
					th Description
					th Amount
					th YTD Amount
					th Description
					th Amount
					th YTD Amount
				tr
					td Regular Earnings
					td.filledValue#regEarnings x
					td x
					td Fed Witholding
					td.filledValue#fedTax x
					td x
				tr
					td
					td
					td
					td Medicare Witholding
					td.filledValue#medicareTax x
					td x
				tr
					td
					td
					td
					td Social Security Witholding
					td.filledValue#ssTax x
					td x
				tr
					td
					td
					td
					td State Witholding
					td.filledValue#stateTax x
					td x
			table
				tr
					th(colspan='6') Deductions
				tr
					th(colspan='3') Before-Tax Deductions
					th(colspan='3') After-Tax Deductions
				tr 
					th Description 
					th Amount 
					th YTD Amount
					th Description 
					th Amount 
					th YTD Amount
				tr
					td 401k
					td.filledValue#retirementContributions x
					td.filledValue#retirementContributionsYTD x
					td Disability
					td.filledValue#disabilityContributions x
					td.filledValue#disabilityContributionsYTD x
			table
				tr 
					th(colspan='6') Net Pay Distribution
