extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='javascript/main.js')

block stylesheets
	style
		include style.css

block content
	h1 Paycheck Calculator
	
	div#paycheckCalculator
		div Gross Annual Income: 
			input#income(type='number', name='income', placeholder='Income')
		div Pay Frequency:
			select#payFrequency
				each frequency in pageInfo.payFrequencies
					option(value='#{frequency.id}') #{frequency.schedulename}
		div Federal Filing Status: 
			select#fedFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div Federal Allowances:
			input#fedAllowancesInput(type='number', name='fedAllowances', placeholder='Fed Allowances')

		div State:
			select#stateSelect
				each state in pageInfo.states
					option(value='#{state.id}') #{state.name}

		div State Filing Status: 
			select#stateFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div State Allowances:
			input#stateAllowancesInput(type='number', name='stateAllowances', placeholder='State Allowances')

		div Retirement Contributions (401k, etc.)
			input#retirementInput(type='number', name='retirement', placeholder='Retirement')


		div#calc 				
			input#calculate(type='submit',value='Calculate Takehome Paycheck')


		div.paystub#samplePaystub

			table
				tr 
					th(colspan='6') General
				tr 
					th(colspan='6') Tax Data
				tr 
					td Federal Filing Status
					td#fedFilingStatus x
					td
					td
					td State Filing Status
					td#stateFilingStatus x
				tr
					td Federal Allowances
					td#fedAllowances x
					td
					td
					td State Allowances
					td#stateAllowances x
				tr
					td Federal Additional Witholding
					td#fedAdditionalWitholding x
					td
					td
					td State Additional Witholding
					td#stateAdditionalWitholding x
				tr
					th(colspan='6') Paycheck Summary
				tr
					td
					td Gross Earnings
					td Federal Taxable Gross
					td Total Taxes
					td Total Deductions
					td Total Net Pay
				tr
					td Current
					td#grossEarnings x
					td#fedGrossEarnings x
					td#totalTax x
					td#totalDeductions x
					td#takehomePay x
				tr
					td YTD
					td x
					td x
					td x
					td x
					td x
				tr
					th(colspan='6') Earnings and Taxes
				tr
					th(colspan='3') Earnings
					th(colspan='3') Taxes
				tr 
					td Description
					td Amount
					td YTD Amount
					td Description
					td Amount
					td YTD Amount
				tr
					td
					td
					td
					td Fed Witholding
					td#fedTax x
					td x
				tr
					td
					td
					td
					td Medicare Witholding
					td#medicareTax x
					td x
				tr
					td
					td
					td
					td Social Security Witholding
					td#ssTax x
					td x
				tr
					td
					td
					td
					td State Witholding
					td#stateTax x
					td x
				tr
					th(colspan='6') Deductions
				tr
					th(colspan='3') Before-Tax Deductions
					th(colspan='3') After-Tax Deductions
				tr 
					td Description 
					td Amount 
					td YTD Amount
					td Description 
					td Amount 
					td YTD Amount
				tr
					td 401k
					td#retirementContributions x
					td#retirementContributionsYTD x
					td Disability
					td#disabilityContributions x
					td#disabilityContributionsYTD x
				tr 
					th(colspan='6') Net Pay Distribution
