extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='javascript/main.js')

block stylesheets
	style
		include style.css

block content
	h1 Paycheck Calculator
	
	div#paycheckCalculator
		div Gross Annual Income: 
			input#income(type='number', name='income', placeholder='Income')
		div Pay Frequency:
			select#payFrequency
				each frequency in pageInfo.payFrequencies
					option(value='#{frequency.id}') #{frequency.schedulename}
		div Federal Filing Status: 
			select#fedFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div Federal Allowances:
			input#fedAllowancesInput(type='number', name='fedAllowances', placeholder='Fed Allowances')

		div State:
			select#stateSelect
				each state in pageInfo.states
					option(value='#{state.id}') #{state.name}

		div State Filing Status: 
			select#stateFilingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div State Allowances:
			input#stateAllowancesInput(type='number', name='stateAllowances', placeholder='State Allowances')

		div Retirement Contributions (401k, etc.)
			input#retirementInput(type='number', name='retirement', placeholder='Retirement')


		div#calc 				
			input#calculate(type='submit',value='Calculate Takehome Paycheck')


		div(class=['table', 'paystub'], id='samplePaystub')

			div(class=['tableRow', 'sectionHeading']) General
			div(class=['tableRow', 'sectionHeading']) Tax Data
			div.tableRow 
				div.tableCell Federal Filing Status
				div.tableCell#fedFilingStatus x
				div.tableCell
				div.tableCell
				div.tableCell State Filing Status
				div.tableCell#stateFilingStatus x
			div.tableRow
				div.tableCell Federal Allowances
				div.tableCell#fedAllowances x
				div.tableCell
				div.tableCell
				div.tableCell State Allowances
				div.tableCell#stateAllowances x
			div.tableRow
				div.tableCell Federal Additional Witholding
				div.tableCell#fedAdditionalWitholding x
				div.tableCell
				div.tableCell
				div.tableCell State Additional Witholding
				div.tableCell#stateAdditionalWitholding x
			div(class=['tableRow', 'sectionHeading']) Paycheck Summary
			div.tableRow
				div.tableCell
				div.tableCell Gross Earnings
				div.tableCell Federal Taxable Gross
				div.tableCell Total Taxes
				div.tableCell Total Deductions
				div.tableCell Total Net Pay
			div.tableRow
				div.tableCell Current
				div.tableCell#grossEarnings x
				div.tableCell#fedGrossEarnings x
				div.tableCell#totalTax x
				div.tableCell#totalDeductions x
				div.tableCell#takehomePay x
			div.tableRow
				div.tableCell YTD
				div.tableCell x
				div.tableCell x
				div.tableCell x
				div.tableCell x
				div.tableCell x
			div(class=['tableRow', 'sectionHeading']) Earnings and Taxes
			div.tableRow
				div.tableCell Earnings
				div.tableCell
				div.tableCell
				div.tableCell Taxes
				div.tableCell
				div.tableCell
			div.tableRow 
				div.tableCell Description
				div.tableCell Amount
				div.tableCell YTD Amount
				div.tableCell Description
				div.tableCell Amount
				div.tableCell YTD Amount
			div.tableRow
				div.tableCell
				div.tableCell
				div.tableCell
				div.tableCell Fed Witholding
				div.tableCell#fedTax x
				div.tableCell x
			div.tableRow
				div.tableCell
				div.tableCell
				div.tableCell
				div.tableCell Medicare Witholding
				div.tableCell#medicareTax x
				div.tableCell x
			div.tableRow
				div.tableCell
				div.tableCell
				div.tableCell
				div.tableCell Social Security Witholding
				div.tableCell#ssTax x
				div.tableCell x
			div.tableRow
				div.tableCell
				div.tableCell
				div.tableCell
				div.tableCell State Witholding
				div.tableCell#stateTax x
				div.tableCell x
			div(class=['tableRow', 'sectionHeading']) Deductions
			div.tableRow
				div.tableCell Before-Tax Deductions
				div.tableCell
				div.tableCell
				div.tableCell After-Tax Deductions
				div.tableCell
				div.tableCell
			div.tableRow 
				div.tableCell Description 
				div.tableCell Amount 
				div.tableCell YTD Amount
				div.tableCell Description 
				div.tableCell Amount 
				div.tableCell YTD Amount
			div.tableCell 401k
			div.tableCell#retirementContributions x
			div.tableCell#retirementContributionsYTD x
			div.tableCell Disability
			div.tableCell#disabilityContributions x
			div.tableCell#disabilityContributionsYTD x
			div.tableRow Net Pay Distribution
