extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='javascript/main.js')

block stylesheets
	style
		include style.css

block content
	h1 Paycheck Calculator
	
	div#paycheckCalculator
		div Gross Annual Income: 
			input#income(type='number', name='income', placeholder='Income')
		div Pay Frequency:
			select#payFrequency
				each frequency in pageInfo.payFrequencies
					option(value='#{frequency.id}') #{frequency.schedulename}
		div Retirement Contributions (401k, etc.)
			input#retirement(type='number', name='retirement', placeholder='Retirement')
		div State:
			select#stateSelect
				each state in pageInfo.states
					option(value='#{state.id}') #{state.name}
		div Filing Status: 
			select#filingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div Dependents:
			input#dependents(type='number', name='dependents', placeholder='Dependents')
		div#calc 				
			input#calculate(type='submit',value='Calculate Takehome Paycheck')

		div.table#resultsLabels
			div.tableRow
				div.tableCell Federal Tax Due: 
				div.tableCell#fedTax
			div.tableRow
				div.tableCell Social Security Tax Due: 
				div.tableCell#ssTax
			div.tableRow
				div.tableCell Medicare Tax Due: 
				div.tableCell#medicareTax
			div.tableRow
				div.tableCell
					span#stateName State
					span  Tax Due: 
				div.tableCell#stateTax
			div.tableRow
				div.tableCell Retirement Contributions: 
				div.tableCell#retirementContributions
			div.tableRow
				div.tableCell Total Tax Withheld: 
				div.tableCell#totalTax
			div.tableRow
				div.tableCell
					span Actual 
					span#paySchedule
					span  Takehome Pay: 
				div.tableCell#takehomePay

