extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
block stylesheets
	style
		include style.css
block content
	h1 Paycheck Calculator
	p People in the database:
	
	p Users:
	
	each user in pageInfo.users
		p Name: #{user.full_name} - Email Address: #{user.email_address} - Birthdate: #{user.birthdate} - Filing Status: #{user.filing_status_id}
	
	p Brackets:
	
	div.table
		div.tableRow
			div.tableCell Jurisdiction
			div.tableCell Tax Year
			div.tableCell Min AGI
			div.tableCell Max AGI
			div.tableCell Tax Rate
			div.tableCell Filing Status
		form(name='createBracket', method='POST', action='/api/createNewBracket')
			div.tableRow
				div.tableCell 
					input(type='text', name='jurisdiction', placeholder='Jurisdiction Name')
				div.tableCell 
					input(type='number', name='taxYear', placeholder='taxYear')
				div.tableCell  
					input(type='number', name='minAGI', placeholder='minAGI')
				div.tableCell  
					input(type='number', name='maxAGI', placeholder='maxAGI')
				div.tableCell  
					input(type='number', name='taxRate', placeholder='taxRate')
				div.tableCell 
					input(type='text', name='filingStatus', placeholder='filingStatus')
				div.tableCell 
					input(type='submit',value='Create Bracket')
		each taxBracket in pageInfo.taxBrackets
			div.tableRow
				div.tableCell #{taxBracket.name} 
				div.tableCell #{taxBracket.taxyear}
				div.tableCell #{taxBracket.minagi}
				div.tableCell  #{taxBracket.maxagi}
				div.tableCell #{taxBracket.taxrate}
