extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
block content
	h1 Paycheck Calculator
	p People in the database:
	
	p Users:
	
	each user in pageInfo.users
		p Name: #{user.full_name} - Email Address: #{user.email_address} - Birthdate: #{user.birthdate} - Filing Status: #{user.filing_status_id}
	
	p Brackets:
	
	table
		tr 
			td Jurisdiction
			td Tax Year
			td Min AGI
			td Max AGI
			td Tax Rate
		each taxBracket in pageInfo.taxBrackets
			tr 
				td #{taxBracket.name} 
				td #{taxBracket.taxyear}
				td #{taxBracket.minagi}
				td #{taxBracket.maxagi}

	p Create New Tax Bracket
	
	div.createBracket
		form(name='createBracket', method='POST', action='/api/createNewBracket')
			p Enter Jurisdiction Name(1): 
			input(type='text', name='jurisdiction', placeholder='Jurisdiction Name')
			p Enter Tax Year:
			input(type='number', name='taxYear', placeholder='taxYear')
			p Enter Minimum AGI:
			input(type='number', name='minAGI', placeholder='minAGI')
			p Enter Maximum AGI:
			input(type='number', name='maxAGI', placeholder='maxAGI')
			p Enter Tax Rate:
			input(type='number', name='taxRate', placeholder='taxRate')
			p Enter Filing Status(1):
			input(type='text', name='filingStatus', placeholder='filingStatus')

			input(type='submit',value='Create Bracket')
