extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
block content
	h1 Paycheck Calculator
	p People in the database:
	
	p Users:
	
	each user in pageInfo.users
		p Name: #{user.full_name} - Email Address: #{user.email_address} - Birthdate: #{user.birthdate} - Filing Status: #{user.filing_status_id}
	
	p Brackets:
	
	table(style="border: 1px").
		tr 
			th Jurisdiction
			th Tax Year
			th Min AGI
			th Max AGI
			th Tax Rate
			th Filing Status
		tr
			form(name='createBracket', method='POST', action='/api/createNewBracket')
			td input(type='text', name='jurisdiction', placeholder='Jurisdiction Name')
			td input(type='number', name='taxYear', placeholder='taxYear')
			td input(type='number', name='minAGI', placeholder='minAGI')
			td input(type='number', name='maxAGI', placeholder='maxAGI')
			td input(type='number', name='taxRate', placeholder='taxRate')
			td input(type='text', name='filingStatus', placeholder='filingStatus')

		each taxBracket in pageInfo.taxBrackets
			tr 
				td #{taxBracket.name} 
				td #{taxBracket.taxyear}
				td #{taxBracket.minagi}
				td #{taxBracket.maxagi}

	p Create New Tax Bracket
	
	div.createBracket
	
			input(type='submit',value='Create Bracket')
